@require './vendor/material-icons.styl'
@require './vendor/vuetify.styl'

html
  font-size 100%
  overflow-y auto

  @media (max-width: 375px)
    font-size 14px

  @media (min-width: 375px) and (max-width: 1280px)
    font-size calc((14 / 16 * 100%) + (100vw - 375px) * (16 - 14) / (1280 - 375))

  @media (min-width: 1280px)
    font-size 16px

  .freeze-body
    overflow hidden
    position fixed
    width 100%

main
  padding-top 64px
  
body
  font-family 'Noto Sans Japanese', sans-serif

  h1, h2, h3, h4, h5, h6, p, div
    margin 0
    padding 0
    font-weight 200
    letter-spacing t(1)

  h1
    line-height 1.04em
    font-size t(112)
    letter-spacing t(0)
  h2
    line-height 1.08em
    font-size t(56)
    letter-spacing t(0)
  h3
    line-height 1.12em
    font-size t(45)
    letter-spacing t(0)
  h4
    line-height 1.16em
    font-size t(34)
  h5
    line-height 1.20em
    font-size t(24)
  h6
    line-height 1.24em
    font-size t(20)
  div, p
    line-height 1.30em

  input:-webkit-autofill
    -webkit-box-shadow: 0 0 0 1000px white inset !important

  input
    color: $grey.darken-2 !important

  a
    text-decoration none
    color inherit
  a:visited
    color inherit

  .list__tile__title
    overflow-x visible

  .dialog
    margin 0

  .multiselect__tags
    padding-top 6px

    .chip
      margin 0 6px 6px 0

  .multiselect__option--highlight, .multiselect__option--highlight::after
    background-color #eee
    color #35495e

  .pagination
    height 46px

  .green-text
    color #00C853!important

  .red-text
    color #C62828!important

  .blue-text
    color #1a237e!important
  
  .border-blue-bottom
    border-bottom 1px solid #1a237e
  
  .border-blue-top
    border-top 1px solid #1a237e
  
  i.icon-blue
    color #1a237e!important
    font-size 12px
    margin 3px 3px 0 0
    &.ajusted
      margin-bottom 2px!important
    &.more-ajusted
      margin-bottom 1px!important
    &.zero-ajusted
      margin-bottom 0px!important
  
  .details
    font-size 10px

  .errorColor
    font-size 12px
    color: #e91e63

  .pointable
    cursor pointer
  
  .no-hover-btn::before
    color: transparent

  .v-dialog
    width auto
    &.l-waiting
      width 50%!important

  .v-tabs
    width 100%
  
  .v-input--selection-controls .v-input__control
    width 100%
